<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Font.Awesome" version="5.15.4" targetFramework="net45" />
  <package id="FubarCoder.RestSharp.Portable.Core" version="4.0.8" targetFramework="net452" />
  <package id="FubarCoder.RestSharp.Portable.HttpClient" version="4.0.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="RestClient.Net" version="6.0.0" targetFramework="net452" />
  <package id="RestClient.Net.Abstractions" version="6.0.0" targetFramework="net452" />
  <package id="RestSharp" version="104.2.0" targetFramework="net452" />
  <package id="RestSharpSigned" version="105.2.3" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net452" />
  <package id="System.Linq" version="4.3.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" />
  <package id="Urls" version="1.0.0" targetFramework="net452" />
</packages>